node_modules
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel
*.tgz
*.tar.gz
coverage
.nyc_output
.cache
.parcel-cache
.next
out
build
dist 